<h3 class="teal-text center">Your Medical Records</h3>

<%= button_to new_medical_record_path, class: 'btn waves-effect waves-light right' do %>
  New Record
  <i class="material-icons right">create_new_folder</i>
<% end %>

<table class="responsive-table highlight">
    <thead>
      <tr>
        <th colspan="2">Name</th>
        <th colspan="6">Notes <small>You can hover over the notes to get full information</small></th>
        <th colspan="2">Number of prescriptions</th>
        <th colspan="1"></th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @medical_records.each do |record| %>
      <tr>
        <td colspan="2"><%= record.name.titleize %></td>

        <td colspan="6" class="tooltipped" data-position="bottom" data-delay="10" data-tooltip="<%= record.notes %>">
          <%= truncate(record.notes) %>
        </td>

        <td colspan="2"><%= record.prescriptions.size %></td>

        <td colspan="1">
          <%= link_to '#prescription-modal', id: record.id, class: 'modal-trigger' do %>
            <div class='btn btn-floating teal' id="js-prescription-onclick">
              <i class="material-icons" data-id=<%= record.id %> data-token="<%= session[:_csrf_token] %>">expand_more</i>
            </div>
          <% end %>
        </td>

        <td colspan="1">
          <%= link_to '#share-modal', id: record.id, class: 'modal-trigger' do %>
            <div class='btn btn-floating teal' id="js-share-onclick">
              <i class="material-icons" data-id=<%= record.id %>>share</i>
            </div>
          <% end %>
        </td>

        <td colspan="1">
          <%= link_to edit_medical_record_path(record) do %>
            <div class='btn btn-floating'><i class="material-icons">edit</i></div>
          <% end %>
        </td>

        <td colspan="1">
          <%= link_to medical_record_path(record), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <div class='btn btn-floating grey'><i class="material-icons">delete</i></div>
          <% end %>
        </td>

      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div id="prescription-modal" class="modal bottom-sheet">
  <div class="modal-content" id="js-prescriptions"></div>
</div>

<div id="share-modal" class="modal">
  <div class="modal-content" id="js-share-record">
    <div class="row">
      <form action="/search/:query" accept-charset="UTF-8" method="get">
        <div class="col s11">
          <input name="utf8" type="hidden" value="√" />
          <input type="search" name="query" id="autocomplete-input" placeholder="Search for a doctor or a physician to share this record with" autocomplete="off" class="autocomplete" />
        </div>
      </form>
      <div class="col s1">
        <i class="material-icons valign-wrapper pointer-cursor" id="js-close-modal">close</i>
      </div>
    </div>
    <div class="row">
      <div class="col s12" id="js-confirm-share-prompt-text"></div>
      <div class="col s12" id="js-confirm-share-prompt-response"></div>
    </div>
  </div>
</div>
