<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Essential Tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <!-- Allows control over where resources are loaded from -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://fonts.googleapis.com">

    <title>Sharescription | Share your medical records with one click</title>
    <meta name="description" content="Create medical records and securely share them with your doctors or pharmacists">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-config" content="browserconfig.xml" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Identify the software used to build the document (i.e. - WordPress, Dreamweaver) -->
    <meta name="generator" content="rails">

    <!-- Short description of your document's subject -->
    <meta name="subject" content="patients,doctors,pharmacists,chemists,hospitals">

    <!-- Gives a general age rating based on the document's content -->
    <meta name="rating" content="General">

    <!-- Allows control over how referrer information is passed -->
    <meta name="referrer" content="no-referrer">

    <!-- Geo tags -->
    <meta name="ICBM" content="19.0760, 72.8777">
    <meta name="geo.position" content="19.0760;72.8777">
    <meta name="geo.region" content="IN-MH">
    <meta name="geo.placename" content="Mumbai">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <link rel="author" href="humans.txt">
    <link rel="me" href="https://github.com/draconiandev" type="text/html">
    <link rel="me" href="mailto:pavanprakash21@gmail.com">
    <link rel="me" href="sms:+918850594105">

    <meta name="theme-color" content="#E64545">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container">

      <p class="hide">
        <% flash.each do |key, message| %>
          <%= message %>
        <% end %>
      </p>

      <%= yield %>
    </div>

  </body>
</html>
