<!DOCTYPE html>
<html>
  <head>
    <title>Sharescription</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container">
      <% if user_signed_in? %>
        <h4>Welcome <%= current_user.name %></h4>
      <% elsif doctor_signed_in? %>
        <h4>Welcome <%= current_doctor.name %></h4>
      <% end %>


      <p class="hide">
        <% flash.each do |key, message| %>
          <%= message %>
        <% end %>
      </p>

      <%= yield %>
    </div>

  </body>
</html>
