<div class="row">
  <div class="col s12 m10 l4 offset-m1 offset-l4">
    <h4 class="teal-text center">Sign up</h4>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h4><%= f.error_notification %></h4>

      <div class="form-inputs">
        <div class="row">
          <div class="col s12">
            <%= f.input :name, required: true, autofocus: true, placeholder: 'Please enter your full name', class: "white-text" %>
          </div>
          <div class="col s12">
            <%= f.input :email, required: true, placeholder: 'Please enter a valid email' %>
          </div>
          <div class="col s12 password-container">
            <%= f.input :password, required: true, placeholder: 'Click the Show button to reveal the password', input_html: { id: 'password' } %>
            <div class="password-toggle">
              <input type="checkbox" id="js-showPassword" class="right" />
              <label for="js-showPassword" id="js-showPassword">Show</label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-actions bottom-pad-button">
        <%= f.button :submit, "Sign up" %>
        <div class="right">
          <%= link_to "Log in", new_user_session_path, class: 'waves-effect waves-teal btn-flat flat-button' %>
          </div>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
